@import "tailwindcss";

:root {
  --background: #FAFCFF;
  --foreground: #171717;
  --primary: #005AEF;
  --primary-dark: #013B88

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);
  --font-sans: var(--AAfont-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}